
.upper-bar{
    background-color: #08526d;
    padding: 10px;
    color: white;
}
.upper-bar span >a{
    color: white;
}
nav span:first-child,
footer .row .footer-1 span:first-child{
    color: #08526d;
    font-weight: 600;
}
nav span:last-child,
footer .row .footer-1 span:last-of-type{
    color: #ec1c23;
    font-weight: 600;
}
.navbar-light .navbar-toggler{
    color: #08526d;
}
nav .navbar-collapse button{
    border: 1px solid #ec1c23;
    color: #08526d;
    font-weight: 600;
}
nav .navbar-collapse button:hover{
    background-color: #ec1c23;
    border: 1px solid #08526d;
}
.navbar-light .navbar-nav .nav-link ,
.navbar-light .navbar-nav .dropdown-menu .dropdown-item,
.navbar-light .navbar-nav .dropdown-menu .dropdown-divider{
    color: #08526d;
    font-weight: 600;
    transition: padding 0.6s ease-in-out;
}
.navbar-light .navbar-nav .dropdown-menu .dropdown-divider{
    
}
.navbar-light .navbar-nav .dropdown-menu .dropdown-item:hover{
    padding-left: 25px;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .dropdown-menu .dropdown-item:hover {
    color: #ec1c23;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active{
    color: #ec1c23;
    font-weight: 600;
}
.my-slider{
    width: auto;
    height: 400px;
}
main a{
    color: white;
}
main a:hover{
    color:#08526d;
}

main  h3{
background-color:#ec1c23;
padding: 10px;
color: white;
margin: 10px auto;
}
h2{
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    background-color: #08526d;
    color: white;
    
}
.newsletter{
    background-color: #ec1c23;
    padding: 30px;
    margin: 20px auto;
    color: white;
}
.newsletter .form-control{
   width: 40%;
   margin: 15px auto;
   font-size: 16pt;
}
.newsletter form button{
    background-color: #08526d;
    border-color: white;
    
}
.newsletter form button:hover{
    background-color:white;
    color:#08526d;
}
footer .row .footer-1 span{
    font-size: 18px;
}
footer .row .footer-1 a .icone{
    color: #ec1c23;
}
footer .row .footer-2 ul li,
footer .row .footer-3 ul li{
    margin-bottom: 10px;

}
footer a{
    text-decoration: none;
    color:#08526d;
    font-weight: 600;
}
footer a:hover{
    color: #ec1c23;
}
footer .row .footer-2 ul li a::before{
    font-family:'font Awesome 5 Free';
    content: "\f138";
    margin-right: 5px;
    font-weight:bold;
    color: #ec1c23;
}
footer .copyright {
    border-top: 1px solid #08526d;
    padding: 10px;
}
footer .copyright ul li{
    display: inline-block;
    margin-left: 10px;  
}
/* contactar page */
.contactar form input{
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    padding: 5px 40px;
 }
 .contactar{
     margin: 40px auto;
 }
 .contactar form{
     margin: 20px auto;
     background-color: #ec1c23;
     padding: 20px;
 }
 .contactar form .btn{
     background-color: white;
     color:  #08526d;
     font-weight: 600;
 }
 .contactar form .btn:hover{
     background-color:#08526d;
     color: white;
 }
 .contactar h3{
     color: #08526d;
 }
 /* recata 1 */
.receta1 header{
    border: 2px solid #08526d;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ec1c23;
    color: white;
}
.receta1 header span{
    color: #08526d;
}
.receta1 p{
    text-align: start;
    font-size: 16pt;
}
